@media (min-width:320px ) {
  
  input {
      font-family: "Alexandria";
    }
    
    * {
      margin: 0;
      padding: 0;
      outline: none;
      box-sizing: border-box;
      list-style: none;
    }
    
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      background: #2e721c;
      font-family: "Alexandria", sans-serif;
    }
    
    .topHeader {
      height: 4.5rem;
      width: 100%;
      background: #344330;
      position: fixed;
      top: 0px;
      left: 0px;
      opacity: 50%;
    }
    
    .headerText h1 {
       position: fixed;
      top: 1.5rem;
       transform: translateX(1.52rem);
      color: white;
      font-size: 1.39rem;
    }
    
    .leftHeader {
      height: 100%;
      width: 3.5rem;
      background: #344330;
      left: 0;
      top: 0;
      position: fixed;
      opacity: 50%;
    }





    .form__group /* This is the amount box*/{
      position: relative;
      padding: 15px 0 0;
      margin-top: 10px;
      width: 50%;
      transform: translateX(5rem);
      top: -3rem;
    }
    
    .form__field {
      font-family: inherit;
      width: 100%;
      border: 0;
      border-bottom: 2px solid gray;
      outline: 0;
      font-size: 1.3rem;
      color: white;
      padding: 7px 0;
      background: transparent;
      transition: border-color 0.2s;
    
      &::placeholder {
        color: transparent;
      }
    
      &:placeholder-shown ~ .form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
      }
    }
    
    .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: gray;
    }
    
    .form__field:focus {
      ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: rgb(44, 172, 246);
        font-weight:700;    
      }
      padding-bottom: 6px;  
      border-width: 3px;
      border-color: gray;
      border-image-slice: 1;
    }
    /* reset input */
    .form__field{
      &:required,&:invalid { box-shadow:none; }
    }
    





    .form__group2  /* This is the Date box*/ {
      position: relative;
      padding: 15px 0 0;
      margin-top: 15px;
      width: 50%;
      transform: translateX(5rem);
      top: -2rem;
    }
    
    .form__field2 {
      font-family: inherit;
      width: 100%;
      border: 0;
      border-bottom: 2px solid gray;
      outline: 0;
      font-size: 1.3rem;
      color: white;
      padding: 7px 0;
      background: transparent;
      transition: border-color 0.2s;
    
      &::placeholder {
        color: transparent;
      }
    
      &:placeholder-shown ~ .form__label2 {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
      }
    }
    
    .form__label2 {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: gray;
    }
    
    .form__field2:focus {
      ~ .form__label2 {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: rgb(44, 172, 246);
        font-weight:700;    
      }
      padding-bottom: 6px;  
      border-width: 3px;
      border-color: gray;
      border-image-slice: 1;
    }
    /* reset input */
    .form__field2{
      &:required,&:invalid { box-shadow:none; }
    }
    
  
    


    .calcContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-left: 2rem;
    }
    
    .calculateButton {
      transition: all;
      background-color: #374733de;
      border-radius: 0.438rem; 
      border-color: #43553e;
      color: white;
      font-size: 1.75rem; 
      width: 7rem;
      cursor: pointer;
      transform: translateY(3rem);
    }
    
    .calculateButton:hover {
      transform: translateY(3.2rem)  scale(1.02);
    }
    
    
    .displayContainer {
      transform: translateY(6.125rem) ;
      position: absolute;
      left: 6rem;
        }
    
    .display input {
      background-color: #338020;
      box-shadow: #344330;
      font-size: 0.85rem; 
      text-align: center;
      color: rgb(255, 241, 241);
    }
    
    .display label {
      font-size: 1.25rem; 
    }
    
    
    .menu-button {
      background: #6e5494;
      height: 2.5rem;
      transform: translateY(-18.75rem) ; 
      float: left;
      line-height: 2.5rem; 
      width: 3.438rem; 
      text-align: center;
      color: transparent;
      border-radius: 0.25rem; 
      cursor: pointer;
      position: fixed;
      left: 0rem;
    }
    .menu-button2 {
      background: #4692cc;
      height: 2.5rem; 
    transform: translateY(-14.375rem) ; 
      float: left;
      line-height: 2.5rem; 
      width: 3.438rem; 
      text-align: center;
      color: transparent;
      border-radius: 0.25rem; 
      cursor: pointer;
      position: fixed;
      left: 0rem;
    }
    
    .menu-button3 {
      background: #4692cc;
      height: 2.5rem; 
     transform: translateY(-10.313rem);
      float: left;
      line-height: 2.5rem; 
      width: 3.438rem; 
      text-align: center;
      color: transparent;
      border-radius: 0.25rem;
      cursor: pointer;
      position: fixed;
      left: 0rem;
    }
    
    .menu-button4 {
      background: #4692cc;
      height: 2.5rem; 
      transform: translateY(-6.25rem) ; 
      float: left;
      line-height: 2.5rem; 
      width: 3.438rem; 
      text-align: center;
      color: transparent;
      border-radius: 0.25rem; 
      cursor: pointer;
      position: fixed;
      left: 0rem;
    }
    .GithubPic  img  {
      left: 0.3rem; 
    transform: translateY(-19.100rem); 
     position: fixed;
     width: 3rem;
    }
    
    .LinkedinPic img {
      left: 0.6rem;
       transform: translateY(-14.188rem); 
      position: fixed;
      width: 2.3rem;
  }   
    
    .twitterPic  img {
      left: 0.8rem;
      transform: translateY(-10rem); 
      position: fixed;
      width: 2rem;
    }
    
    .Ko-fiPic img {
      left: 0rem;
      transform: translateY(-6.988rem); 
      position: fixed;
      width:4rem;
    }
    .c0inPic img {
    position: fixed;
    width: 3.6rem;
    top: 0.3rem;
    left: 0rem;
  }
    



}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (min-width:1024px) {


  input {
    font-family: "Alexandria";
  }
  
  * {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #2e721c;
    font-family: "Alexandria", sans-serif;
  }
  
  .topHeader {
    height: 7.5rem;
    width: 100%;
    background: #344330;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 50%;
  }
  
  .headerText h1 {
     position: fixed;
    top: 1.5rem;
     transform: translateX(-8rem);
    color: white;
    font-size: 3.39rem;
    white-space: nowrap;
  }
  
  .leftHeader {
    height: 100%;
    width: 7.5rem;
    background: #344330;
    left: 0;
    top: 0;
    position: fixed;
    opacity: 50%;
  }

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

  .form__group /* This is the amount box*/{
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
    transform: translateX(5rem);
    top: -3rem;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    text-align: center;
    transition: border-color 0.2s;
  
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: gray;
  }
  
  .form__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: rgb(44, 172, 246);
      font-weight:700;    
    }
    padding-bottom: 6px;  
    border-width: 3px;
    border-color: gray;
    border-image-slice: 1;
  }
  /* reset input */
  .form__field{
    &:required,&:invalid { box-shadow:none; }
  }
  
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

  .form__group2  /* This is the Date box*/ {
    position: relative;
    padding: 15px 0 0;
    margin-top: 15px;
    width: 100%;
    transform: translateX(5rem);
    top: -2rem;
  }
  
  .form__field2 {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    text-align: center;
    background: transparent;
    transition: border-color 0.2s;
  
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .form__label2 {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }
  
  .form__label2 {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: gray;
  }
  
  .form__field2:focus {
    ~ .form__label2 {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: rgb(44, 172, 246);
      font-weight:700;    
    }
    padding-bottom: 6px;  
    border-width: 3px;
    border-color: gray;
    border-image-slice: 1;
  }
  /* reset input */
  .form__field2{
    &:required,&:invalid { box-shadow:none; }
  }
  

  /*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



  .calcContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 8rem;
  }
  
  .calculateButton {
    transition: all;
    background-color: #374733de;
    border-radius: 0.438rem; 
    border-color: #43553e;
    color: white;
    font-size: 1.75rem; 
    width: 7rem;
    cursor: pointer;
    transform: translateY(1rem);
  }
  
  .calculateButton:hover {
    transform: translateY(1rem)  scale(1.05);
  }
  
  
  .displayContainer {
    transform: translateY(4.125rem) ;
    position: fixed;
    left: 27rem;
      }
  
  .display input {
    background-color: #338020;
    box-shadow: #344330;
    font-size: 1.25rem; 
    text-align: center;
    color: rgb(255, 241, 241);
  }
  
  .display label {
    font-size: 1.5rem; 
  }
  
  
  .menu-button {
    background: #6e5494;
    height: 2.5rem; 
    transform: translateY(-15.75rem) ; 
    float: left;
    line-height: 2.5rem; 
    width: 8.438rem; 
    text-align: center;
    color: white;
    border-radius: 0.25rem; 
    cursor: pointer;
    position: fixed;
    left: -1rem;
  }
  .menu-button2 {
    background: #4692cc;
  height: 2.5rem; 
transform: translateY(-11.375rem) ; 
  float: left;
  line-height: 2.5rem; 
  width: 8.438rem; 
  text-align: center;
  color: white;
  border-radius: 0.25rem; 
  cursor: pointer;
  position: fixed;
  left: -1rem;
  }
  
  .menu-button3 {
    background: #4692cc;
    height: 2.5rem; 
   transform: translateY(-7.313rem);
    float: left;
    line-height: 2.5rem;
    width: 8.438rem;
    text-align: center;
    color: white;
    border-radius: 0.25rem; 
    cursor: pointer;
    position: fixed;
    left: -1rem;
  }
  
  .menu-button4 {
    background: #4692cc;
    height: 2.5rem; 
    transform: translateY(-3.25rem) ; 
    float: left;
    line-height: 2.5rem; 
    width: 8.438rem;
    text-align: center;
    color: white;
    border-radius: 0.25rem; 
    cursor: pointer;
    position: fixed;
    left: -1rem;
  }
  .GithubPic  img  {
    left: 4.7rem; 
    transform: translateY(-16.2rem); 
     position: fixed;
     width: 3.3rem;
  }
  
  .LinkedinPic img {
    left: 5.3rem;
    transform: translateY(-11.188rem);
  position: fixed;
}   
  
  .twitterPic  img {
    left: 5.4rem;
    transform: translateY(-7rem); 
    position: fixed;
    width: 1.9rem;
  }
  
  .Ko-fiPic img {
    left: 4.7rem;
  transform: translateY(-3.688rem); 
  position: fixed;
  width: 3.4rem;
  }
  .c0inPic img {
  position: fixed;
  width: 7rem;
  top: 0.3rem;
  left: 0.2rem;
}
}
@keyframes changeSize {
  0% {
    transform: scale(0.6);
  }

  100% {
    transform: scale(1);
  }
}

/* Other browser prefixes */
@-moz-keyframes changeSize {
  0% {
    transform: scale(0.6);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes changeSize /* Safari and Chrome */ {
  0% {
    transform: scale(0.6);
  }

  100% {
    transform: scale(1);
  }
}

@-o-keyframes changeSize /* Opera */ {
  0% {
    transform: scale(0.6);
  }

  100% {
    transform: scale(1);
  }
}

