.topHeader{
  height:120px;
  width:100%;
  background:#344330;
  position:relative;
  top:0px;
  left:0px;
  position: fixed;

}
.headerText{
text-align: center;
  position: absolute; /* Add this line */
  bottom: 0; /* Add this line */
  left: 50%; /* Add this line */
  transform: translateX(-50%); /* Add this line */
}
.leftHeader{
  height:100%;
  width:120px;
  background:#344330;
  left:0;
  top: 0;
  position: fixed;
  opacity: 50%;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #3F4F3B;
  font-family: "Alexandria" , sans-serif;
}

.input-data {
  height: 55px;
  width: 100%;
  position: relative;
  margin-bottom: 50px; /* Added spacing between inputs */
  text-align: right;
}

.input-data input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 25px;
  border-bottom: 2px solid silver;
  background: transparent;
  text-align: right;
}

.input-data label {
  position: absolute;
  bottom: 20px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
  text-align: right;
}

.input-data .underline {
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}

.input-data .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #518bef;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

/* Shared styles for both input states (focus and valid) */
.input-data input:focus ~ label,
.input-data input:valid ~ label {
  transform: translateY(-20px);
  font-size: 15px;
  color: hsl(218, 83%, 63%);
}
.input-data:last-child{
  margin-bottom: 70px; /* Adjust this value as needed */

}
.calcContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.calculateButton{
  transition: all;
  background-color: #374733de;
  border-radius: 10px;
  color: white;
  font-size: medium;
  padding: 16px 50px;
  margin: -20px 2px 4px 2px; /* Negative top margin */
  cursor: none;
}
.calculateButton:hover{
  transform: scale(1.1);
}
.display{
margin-top: 30px;


}
