<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="description" content="حاسبة تضخم سعودي تساهم في حساب التضخم للمقارنة او اهداف ترفيهية او حتى فوائد بنكيه">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="حاسبة التضخم السعودي">
    <meta property="og:description" content="حاسبة تضخم سعودي تساهم في حساب التضخم للمقارنة او اهداف ترفيهية او حتى فوائد بنكيه">
    <meta property="og:image" content="https://i.imgur.com/g4k0MSB.png"> 
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="حاسبه التضخم السعودي">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bout.css') }}">
  </head>
  <body>


    <div class="leftHeader">
</div>
<div class="c0inPic">
  <img src="{{ url_for('static', filename='images/coin.png')}}" width="100" height="auto">
</div>  



<p id="error_message"></p>
<div class="topHeader">   </div>
<div class="headerText">
  <h1>حاسبة التضخم السعودي</h1>
</div>

<div class="twitter">
<a href="https://twitter.com/os_fyousef"> 
<p>@os_fyousef</p>
</a>
</div>

<br>

<div class="linkedin">
<a href="https://www.linkedin.com/in/osamh-alyousef-30a279230/">
<p> Osamh Alyousef</p>
</a>
</div>

<br>

<div class="github"> 
<a href="https://github.com/osalyousef">
<p> Osamh Alyousef</p>
</a>
</div>

<br>

<div>
<p> اذا اعجبتك الاضافة</p>
<a href="" > ادعمني</a>
</div>


</body>
</html>